<mat-toolbar class="fixed-toolbar" color="primary">
  <span class="fill-remaining-space"></span>
  <button mat-button>مستندات</button>
  <button mat-button routerLink="/mafatih" routerLinkActive="active">مفاتیح</button>
  <button mat-button routerLink="/" routerLinkActive="active">صفحه اصلی</button>
</mat-toolbar>

<div class="header">
  <span class="header-title">مفاتیح الجنان</span>
  <p class="header-text">
    مفاتیح الجنان مجموعه‌ای از دعاها، مناجات، زیارات، اعمال مخصوصه ایام سال و ماه و روزها است که از طرف پیامبر اسلام و ائمه شیعیان صادر شده و توسط شیخ عباس قمی جمع‌آوری و تدوین شده‌است.
  </p>
</div>
